.header {
    display:flex;
    align-items:center;
}

.heaader a{
    display:-ms-inline-grid;
    align-items:center;
    text-decoration:none
}

.header.logo{
    max-height: 32px;
    width:50px
}